html, body {
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#sketch01,div#sketch02,div#sketch03,div#sketch04{
  position: absolute;
  margin: 0.5%;
  display: flex;
  align-items: center;
}

div#sketch01,div#sketch03{
  justify-content: center;
}

div#sketch02,div#sketch04{
  justify-content: right;
}

div#sketch01{
   left: 0%;
   top: 0%;
   width: 50%;
   height: 25%;
 }

div#sketch02{
   left: 50%;
   top: 0%;
   width: 45%;
   height: 25%;
 }

div#sketch03{
   left: 0%;
   top: 25%;
   width: 50%;
   height: 70%;
 }

div#sketch04{
   left: 50%;
   top: 25%;
   width: 45%;
   height: 70%;
 }